nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 1);
  height: 100%;
  width: 300px;
  z-index: 20;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}

.open {
  transform: translateX(0);
  transition: all 0.2s ease;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0%;
  margin-top: 100px;
}

ul li {
  color: whitesmoke;
  list-style-type: none;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

ul li p {
  color: whitesmoke;
  list-style-type: none;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin: 5px 0 0 0;
}

.logo {
  margin-bottom: 90px;
}

.icon {
  position: absolute;
  color: whitesmoke;
  font-size: 25px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
}

.list-nav-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-nav {
  display: none;
}

/* .mobile-nav {
  width: 100vw;
  border: 10px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
  display: none;
}

.mobile-nav button {
  color: whitesmoke;
  background-color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}

.mobile-nav button span {
  font-size: initial;
}*/
@media (max-width: 1025px) {
  nav {
    width: 100%;
    height: 80px;
    background-color: none;
    background: linear-gradient(180deg, transparent 10%, black);
  }
  .icon-nav {
    display: block;
    font-size: 30px;
  }
  .close-nav {
    display: none;
  }
  #logo {
    display: none;
  }

  ul {
    flex-direction: row;
    margin: 10px 0 0 0;
    gap: 100px;
  }
  ul li p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  ul {
    gap: 40px;
  }
}
