body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
#Footer {
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  width: 100%;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: white;
}

#Footer-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin: 0px auto;
}

#Footer-list a {
  text-align: center;
  line-height: 10px;
  color: white;
}

#Footer-list a :hover {
  color: blueviolet;
}
h1 {
  font-size: 45px;
  font-family: "Tilt Neon", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Tilt Neon", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 7px;
  text-align: center;
  border: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}

.blackscreen-nav {
  position: fixed;
  top: 0;
  z-index: 52;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
}

/* Media pour tablette */
@media (max-width: 1025px) {
  h1 {
    font-size: 35px;
  }
  nav {
    position: sticky;
    bottom: 0;
    right: 0;
  }
  .blackscreen-nav {
    display: none;
  }

  #Footer p {
    font-size: 15px;
  }
  #Footer {
    max-height: 100px;
  }
  #Footer-list {
    font-size: 15px;
  }
}

/* Media pour mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  #Footer p {
    font-size: 10px;
  }
  #Footer {
    max-height: 100px;
  }
  #Footer-list {
    font-size: 10px;
  }
}
