body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

.container {
  height: 100vh;
  background-image: url("./assets/images/background.webp");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
