body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 45px;
  font-family: "Tilt Neon", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Tilt Neon", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  border: none;
  box-shadow: 0 0 7px black;
}

nav {
  position: fixed;
  left: 0;
}

.blackscreen-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

/* Media pour tablette */
@media (max-width: 1025px) {
  h1 {
    font-size: 35px;
  }
  nav {
    bottom: 0;
  }
  .blackscreen-nav {
    display: none;
  }
}

/* Media pour mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
}
