#DisplaySearchResults {
  width: 80vw;
  height: 70vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  position: relative;
  animation: UptoBottom 1s alternate ease-in-out forwards;
  z-index: 51;
  top: 60px;
}

.each-card {
  width: 20%;
}
@keyframes UptoBottom {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}
#DisplaySearchResults:hover {
  box-shadow: 0 0 50px #b53dff;
}

#DisplaySearchResults p {
  position: sticky;
  color: rgb(255, 255, 255);
  top: 50%;
  animation: UptoBottom 2s alternate ease-in-out forwards;
}

.close-Btn {
  font-size: 20px;
  font-weight: 900;
  font-family: "Tilt Neon", sans-serif;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  animation: UptoBottom 1s alternate ease-in-out forwards;
  transition: all 0.5s;
  top: 10px;
  opacity: 0.7;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px #b53dff;
}
.close-Btn:hover {
  opacity: 1;
  box-shadow: 4 4 20px rgb(255, 255, 255);
  font-size: 25px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  overflow: scroll;
  transition: none;
}

@media screen and (max-width: 1025px) {
  .each-card {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .close-Btn {
    background: none;
    box-shadow: none;
  }

  .each-card {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  #DisplaySearchResults {
    width: 100vw;
    border-radius: 0px;
    margin: 0;
  }

  #DisplaySearchResults:hover {
    box-shadow: none;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    padding: 0px;
    overflow: scroll;
  }
}
