.buttons-movies-container {
  top: 400px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: scroll;
  margin: 10px 10px 30px 10px;
}

.buttons-movies {
  cursor: pointer;
  min-width: 100px;
  height: 33px;
  background-color: rgba(227, 227, 227, 0.7);
  font-weight: 600;
}

.buttons-movies:hover {
  background-color: rgba(227, 227, 227);
}

.buttons-movies-container::-webkit-scrollbar {
  display: none;
}

.buttons-movies:focus,
.buttons-movies:focus-visible {
  background-color: #b53dff;
  color: whitesmoke;
}

.button-filter {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background-color: rgba(227, 227, 227, 0.7);
}

.arrow-page {
  font-size: 20px;
}

.button-filter:hover {
  background-color: rgba(227, 227, 227);
}

.button-filter:hover {
  background-color: rgba(227, 227, 227);
}

.button-filter-stop {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background-color: rgb(56, 56, 56);
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .buttons-movies {
    min-width: 70px;
    height: 30px;
    font-size: 10px;
  }
}
