.black-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 100;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 1000px;
}

.video-container-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 1000px;
  background-color: transparent;
}

.video-container-loading {
  transform: translateX(50%);
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 1000px;
  background-color: black;
  z-index: 5;
}

.no-video {
  color: white;
  font-size: 50px;
}

.close-mark {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .video-container {
    width: 100%;
    height: 60%;
  }
  .black-screen {
    padding-top: 80px;
    align-items: flex-start;
  }
}
